In [1]:
import pandas as pd

This data represents records of police reported stops under Terry v. Ohio, 392 U.S. 1 (1968). Each row represents a unique stop.

Each record contains perceived demographics of the subject, as reported by the officer making the stop and officer demographics as reported to the Seattle Police Department, for employment purposes.

Where available, data elements from the associated Computer Aided Dispatch (CAD) event (e.g. Call Type, Initial Call Type, Final Call Type) are included.

In [4]:
df = pd.read_csv('data/Terry_stops.csv')
df.head()

,Subject Age Group,Subject ID,GO / SC Num,Terry Stop ID,Stop Resolution,Weapon Type,Officer ID,Officer YOB,Officer Gender,Officer Race,...,Reported Time,Initial Call Type,Final Call Type,Call Type,Officer Squad,Arrest Flag,Frisk Flag,Precinct,Sector,Beat
0,-,-1,20140000120677,92317,Arrest,None,7500,1984,M,Black or African American,...,11:32:00,-,-,-,SOUTH PCT 1ST W - ROBERT,N,N,South,O,O2
1,-,-1,20150000001463,28806,Field Contact,None,5670,1965,M,White,...,07:59:00,-,-,-,NaN,N,N,-,-,-
2,-,-1,20150000001516,29599,Field Contact,None,4844,1961,M,White,...,19:12:00,-,-,-,NaN,N,-,-,-,-
3,-,-1,20150000001670,32260,Field Contact,None,7539,1963,M,White,...,04:55:00,-,-,-,NaN,N,N,-,-,-
4,-,-1,20150000001739,33155,Field Contact,None,6973,1977,M,White,...,00:41:00,-,-,-,NaN,N,N,-,-,-

In [6]:
display(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47024 entries, 0 to 47023
Data columns (total 23 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Subject Age Group         47024 non-null  object
 1   Subject ID                47024 non-null  int64
 2   GO / SC Num               47024 non-null  int64
 3   Terry Stop ID             47024 non-null  int64
 4   Stop Resolution           47024 non-null  object
 5   Weapon Type               47024 non-null  object
 6   Officer ID                47024 non-null  object
 7   Officer YOB               47024 non-null  int64
 8   Officer Gender            47024 non-null  object
 9   Officer Race              47024 non-null  object
 10  Subject Perceived Race    47024 non-null  object
 11  Subject Perceived Gender  47024 non-null  object
 12  Reported Date             47024 non-null  object
 13  Reported Time             47024 non-null  object
 14  Initial Call Type         47024 non-null  object
 15  Final Call Type           47024 non-null  object
 16  Call Type                 47024 non-null  object
 17  Officer Squad             46420 non-null  object
 18  Arrest Flag               47024 non-null  object
 19  Frisk Flag                47024 non-null  object
 20  Precinct                  47024 non-null  object
 21  Sector                    47024 non-null  object
 22  Beat                      47024 non-null  object
dtypes: int64(4), object(19)
memory usage: 8.3+ MB

None